<!DOCTYPE html>
<html lang="ja">
  <% const headData = { title : "サービス概要", css : "service" }; %>
  <%- include('./parts/_head', { title: 'My Website' }) %>
  <body class="icBase-lp">
    <%- include('./parts/_heroBase', { title: 'My Website' }) %>
    <%- include('./parts/_order', {  }) %>
    <%- include('./parts/_factorBase', {  }) %>
    <%- include('./parts/_resolution', {  }) %>
    <%- include('./parts/_order', {  }) %>
    <%- include('./parts/_templates', {  }) %>
    <%- include('./parts/_flow', {  }) %>
    <%- include('./parts/_order', {  }) %>
    <%- include('./parts/_floatingButton', {  }) %>
    <%- include('./parts/_footer', {  }) %>
  </body>
</html>
