<!DOCTYPE html>
<html lang="ja">
  <% const headData = { title : "サービス概要", css : "service" }; %>
  <%- include('./parts/_head', { title: 'My Website' }) %>
  <body class="service">
    <%- include('./parts/_heroService', {  }) %>
    <%- include('./parts/_checkAndRegister', {  }) %>
    <%- include('./parts/_factor', {  }) %>
    <%- include('./parts/_checkAndRegister', {  }) %>
    <%- include('./parts/_anxietyAndDoubt', {  }) %>
    <%- include('./parts/_resolution', {  }) %>
    <%- include('./parts/_checkAndRegister', {  }) %>
    <%- include('./parts/_regulation', {  }) %>
    <%- include('./parts/_templates', {  }) %>
    <%- include('./parts/_flow', {  }) %>
    <%- include('./parts/_checkAndRegister', {  }) %>
    <%- include('./parts/_floatingButton', {  }) %>
    <%- include('./parts/_footer', {  }) %>
  </body>
</html>
