<!DOCTYPE html>
<html lang="ja">
  <% const headData = { title : "サービス概要", css : "service" }; %>
  <%- include('./parts/_head', { title: 'My Website' }) %>
  <body class="service">
    <%- include('./parts/_heroService', {  }) %>
    <% buttonData = {
        lead: "高性能、短納期、充実サポート<br />精密基盤印刷ならテクノール！",
        colorDark: true,
        leftButton : {
          // copy : "最短 480時間で出荷可能！<br class=\"display-desktop\" />国内送料弊社負担",
          copy : "最短 480時間で出荷可能！<br />国内送料弊社負担",
          link : "https://technore.com/print/semiconductor/prices?color=BOTH_SIDE_COLOR&paper=COAT&size=A4&weight=90", 
          // buttonLabel : "最新のIC基盤印刷設備を<br class=\"display-desktop\" />今すぐ確認！"
          buttonLabel : "最新のIC基盤印刷設備を今すぐ確認！"
        },
        rightButton: {
          copy : "1,000万 1億円　<br />2種損害保険を必ず付与！", 
          // copy : "<span class=\"priceOff\">1,000<span>万</span><span class=\"comma\">〜</span>1<span>億円</span> coverage </span><br />2種損害保険を必ず付与！\", 
          link : "https://technore.com/account/register/new",
          buttonLabel : "まずは無料で審査登録！",
          termsOfUse : "（利用条件あり）"
        },
        otherProducts : {
          link : "https://technore.com/semiconductor/",
          buttonLabel : "その他の基盤を見てみる"
        }
      };
    %>
    <%- include('./parts/_checkAndRegister', { buttonData : buttonData }) %>
    <%- include('./parts/_factor', {  }) %>
    <%- include('./parts/_anxietyAndDoubt', {  }) %>
    <%- include('./parts/_resolution', {  }) %>
    <%- include('./parts/_checkAndRegister', { buttonData : buttonData }) %>
    <%- include('./parts/_regulation', {  }) %>
    <%- include('./parts/_templates', {  }) %>
    <%- include('./parts/_flow', {  }) %>
    <%- include('./parts/_checkAndRegister', { buttonData : buttonData }) %>
    <%- include('./parts/_floatingButton', {  }) %>
    <%- include('./parts/_footer', {  }) %>
  </body>
</html>
