    <% if (typeof lead === 'undefined') { lead = ""; } %>
    <section class="order <%- contentsDark ? "contents-dark" : "" %>">
      <div class="order-inner">
        <div class="lead">
          <%- lead %>
        </div>
        <div class="lead2nd">
          <div>
            <span class="slash-l"></span> &nbsp;<%- copy %>&nbsp;
            <span class="slash-r"></span>
          </div>
        </div>
        <h2 class="catch"><%- copy2 %></h2>
      </div>
      <a
        class="button"
        href="<%- buttonData.link %>"
        ><span><%- buttonData.buttonLabel %></span></a
      >
    </section>
