<% if (typeof contentsDark === 'undefined') { contentsDark = ""; } %>
<% if (typeof lead === 'undefined') { lead = ""; } %>
<% if (typeof copy === 'undefined') { copy = ""; } %>
<% if (typeof copy2 === 'undefined') { copy2 = ""; } %>
<% if (typeof buttonData === 'undefined') { buttonData = ""; } %>
<section class="order <%- contentsDark ? "contents-dark" : "" %>">
  <div class="order__inner">
    <div class="order__lead">
      <%- lead %>
    </div>
    <div class="order__lead2nd">
      <div>
        <span class="slash-l"></span> &nbsp;<%- copy %>&nbsp;
        <span class="slash-r"></span>
      </div>
    </div>
    <h2 class="order__catch"><%- copy2 %></h2>
  </div>
  <a class="button" href="<%- buttonData.link %>"><span><%- buttonData.buttonLabel %></span></a>
</section>